<div class="workstation-box" [ngStyle]="{'height': isAnalysisTabActive?'91.5%':'100%'}">
    <div class="notice w-100 py-1 ps-3 text-start" *ngIf="type=='download' && !hasShownNotice && downloadDataArr.length>0">Please click refresh button to get your file updated while your downloading file is in progress.</div>
    
    <div class="top-bar d-flex align-items-center position-relative">
        <button class="backbtn btn btn-danger float-left" *ngIf="openWorkSpaceTable || isFavoriteBackBtn" (click)="backToFolders()">Back</button>
        <button class="refreshbtn btn btn-danger float-left" *ngIf="type=='download'" (click)="onClickRefresh()" ngbTooltip="Refresh"><i class="fa-solid fa-rotate-right"></i></button>
        <h4 class="w-100">
            <span *ngIf="!isFavoriteBackBtn">{{type | uppercase}}&nbsp;&nbsp;{{openWorkSpaceTable ? ('('+currentDirName+')' | titlecase) : ''}}</span>
            <span *ngIf="isFavoriteBackBtn">{{currentDirName | uppercase}}</span>
        </h4>
        <div class="view-type position-absolute d-flex align-items-center" *ngIf="type == 'workspace' && !openWorkSpaceTable">
            <span title="{{item | titlecase}} View" class="list-type" (click)="setViewType(item)" *ngFor="let item of ['fa-list','fa-grid-2']">
                <!-- <img src="assets/images/{{item}}-view.png" alt="" /> -->
                <i class="fa-sharp fa-solid {{item}}"></i>
            </span>
        </div>

        <div *ngIf="type=='favourites'" class="remaining-points position-absolute {{favouritePoints>=20 && favouritePoints<50 ? 'orange' : favouritePoints<10 ? 'red':'green'}}">
            <span>Remaining:</span>{{favouritePoints}}
        </div>
    </div>

    <div class="filter-bar" *ngIf="(type != 'favourites' && openWorkSpaceTable) || type == 'download'">
        <div class="input-box" *ngFor="let item of searchBars[type]">
            <div class="d-flex" *ngIf="!['direction','type','date'].includes(item)">
                <input (keyup)="onFilterSearch(type, item, $event)" type="text" placeholder="Search {{item}}">
                <span class="search-btn">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    <!-- <img src="assets/images/dateIcon.png" alt="" /> -->
                </span>
            </div>

            <div class="d-flex" *ngIf="item==='direction' || item==='type'">
                <select [(ngModel)]="directionType" (change)="onFilterSearch(type, 'type', $event)">
                    <option value="">--Select {{item}}--</option>
                    <option value="export">Export</option>
                    <option value="import">Import</option>
                </select>
            </div>

            <div class="d-flex" *ngIf="item=='date'">
                <span class="date-search">
                    <label for="Start">Start:</label>
                    <input type="date" (change)="onFilterSearch(type, 'start', $event)" />
                </span>
                <span class="date-search">
                    <label for="Start">End:</label>
                    <input type="date" (change)="onFilterSearch(type, 'end', $event)"/>
                </span>
            </div>

            <div class="total-count"><span>Total:</span> {{(type=='download' ? downloadDataArr.length : copyDataArr.length) || workspaceFolders.length}}</div>
        </div>
    </div>
    
    <div class="table-container {{type}}" *ngIf="type == 'workspace'">
        <!-- Folder View Table -->
        <div class="folder-container h-100 pt-3" *ngIf="!openWorkSpaceTable">
            <table *ngIf="folderViewType=='list'">
                <thead>
                    <th style="width:5%">S.No.</th>
                    <th>Folder Name</th>
                    <th style="width:30%">Created On</th>
                </thead>
                <tbody *ngIf="!isLoading">
                    <tr *ngFor="let item of workspaceFolders;let i=index;">
                        <td class="text-center">{{i+1}}.</td>
                        <td><div class="folder">
                            <i class="fa-duotone fa-solid fa-folder-open" style="--fa-primary-color:#4cbfa6; --fa-secondary-color:#4cbfa6;"></i>
                            <!-- <img src="assets/images/folder.png" alt="" /> -->
                            <span (click)="openWorkSpaceFolder(item?.folder)">{{item?.folder | titlecase}}</span>
                        </div></td>
                        <td class="text-center">{{item?.createdOn | date:'yyyy-MM-dd hh:mm:ss a'}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="folder-grid-container pt-3" *ngIf="folderViewType=='grid'">
                <div class="inner-folders">
                    <div class="grid-folder" (click)="openWorkSpaceFolder(item?.folder)" *ngFor="let item of workspaceFolders;let i=index;">
                        <!-- <img src="assets/images/folder-lg.png" alt="" /> -->
                        <i class="fa-sharp fa-solid fa-folder-open"></i>
                        <div class="folder-name">{{item?.folder | titlecase}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Folder's Item List -->
        <div class="folder-table" *ngIf="openWorkSpaceTable">
            <table>
                <thead>
                    <th *ngFor="let head of tableHeads;">
                        {{head | titlecase}}
                    </th>
                </thead>
                <tbody *ngIf="!isLoading">
                    <tr *ngFor="let item of copyDataArr;">
                        <td (click)="gotoSearch(item?.Searchbar, item?.Sidefilter, item?.Id, item?.foldername, item?.CustomAnalysis)"> 
                            <i class="fa-sharp fa-regular fa-link"></i> &nbsp; {{item?.Searchbar?.name}} 
                        </td>
                        <td>{{item?.Searchbar?.country}}</td>
                        <td>{{item?.Searchbar?.type}}</td>
                        <td>{{item?.Searchbar?.tariffCode}}</td>
                        <td ngbTooltip="{{item?.Searchbar?.buyer}}">{{getEllipsedTd(item?.Searchbar?.buyer)}}</td>
                        <td ngbTooltip="{{item?.Searchbar?.vender}}">{{getEllipsedTd(item?.Searchbar?.vender)}}</td>
                        <td>{{item?.Searchbar?.desc}}</td>
                        <td>{{item?.Searchbar?.records || 'N/A'}}</td>
                        <td>{{item?.Searchbar?.start}}</td>
                        <td>{{item?.Searchbar?.end}}</td>
                        <td>{{item?.Searchbar?.transaction | date:'yyyy-MM-dd hh:mm:ss a'}}</td>
                        <td class="delete">
                            <div><i class="fa-solid fa-trash" ngbTooltip="Delete Workspace ({{item?.Searchbar?.name}})" (click)="onClickDelete(item?.Id, item?.Searchbar?.name)"></i></div>
                        </td>
                    </tr>
                </tbody>  
            </table>
        </div>
    </div>

    <div class="table-container favourite-table" *ngIf="type==='favourites' && !isLoading">
        <app-favourites [favouritesArr]="favouriteDataArr" [backTrigger]="gotoBackFavorites" (resetTrigger)="resetBackBtnTrigger($event)"></app-favourites>
    </div>

    <!-- <div class="table-container favourite-table" *ngIf="false">
        <table>
            <thead><th class="actions">Action</th><th *ngFor="let head of tableHeads2;">{{head | titlecase}}</th></thead>
            <tbody *ngIf="!isLoading">
                <tr *ngFor="let item of favouriteDataArr;">
                    <td class="left-bar">
                        <img class="info" src="assets/images/info.png" title="info"
                        (click)="showDetailModal(item)"
                        (mouseover)="changeInfo($event,'in')"
                        (mouseout)="changeInfo($event,'out')" alt="">

                        <img class="delete" src="assets/images/bin.png" title="delete"
                        (click)="onRemoveItem(item?.RecordID)" />
                    </td>
                    <td *ngFor="let key of tableHeads2">
                        <a *ngIf="key=='Exp_Name' || key=='Imp_Name'" target="_blank" [href]="setGoogleLink(getHeadsValue(item, key))">{{getHeadsValue(item, key)}}</a>
                        <span *ngIf="key!='Exp_Name' && key!='Imp_Name'">{{getHeadsValue(item, key)}}</span>
                    </td>
                </tr>
            </tbody>  
        </table>
    </div> -->

    <div id="downloadTable" class="table-container download-table" *ngIf="type==='download'">
        <table>
            <thead>
                <th>Date</th>
                <th>Type</th>
                <th>Country</th>
                <th style="width:8%">Records</th>
                <th style="width:25%;position:relative;">
                    <input type="checkbox" *ngIf="userRights?.Share" (click)="selectAllItems($event)"/>Filename
                    <!-- <img title="Share Multiple Files" *ngIf="userRights?.Share" (click)="onClickShare(null)" src="assets/images/share-white.png" alt="" /> -->
                    <i ngbTooltip="Share Multiple Files" *ngIf="userRights?.Share" (click)="onClickShare(null)" class="fa-duotone fa-solid fa-share-all"></i>
                </th>
                <th>Status</th>
                <!-- <th *ngIf="!isDownloadingAllowed">Share</th> -->
            </thead>
            <tbody *ngIf="!isLoading">
                <tr *ngFor="let item of copyDataArr;" title="{{item?.workspacename}}">
                    <td>{{item?.datetime | date:'yyyy-MM-dd hh:mm:ss a'}}</td>
                    <td>{{item?.direction}}</td>
                    <td>{{item?.countryname}}</td>
                    <td>{{item?.totalrecords}}</td>
                    <td class="filename">
                        <div class="d-flex align-items-center justify-content-between">
                            <span>
                                <input type="checkbox" class="download-checkbox" id="download-{{item?.Id}}" [checked]="isAllSelected" (click)="selectOneByOne(item?.Id, item?.filePath)" *ngIf="userRights?.Share && item?.status=='Completed' && !isMultipleSharing"/>
                                <label for="download-{{item?.Id}}">{{item?.workspacename}}</label>
                            </span>
                            <span>
                                <!-- <img class="download" title="Download File" *ngIf="userRights?.DownloadsAccess && item?.status=='Completed'" (click)="downloadFile(item)" src="assets/images/downloadFile.png" alt="" /> -->                                 
                                <i ngbTooltip="Download File" *ngIf="userRights?.DownloadsAccess && item?.status=='Completed'" (click)="downloadFile(item)" class="fa-duotone fa-solid fa-download"></i>
                                <!-- <img class="sharing" title="Share File" *ngIf="userRights?.Share && item?.status=='Completed' && !isMultipleSharing" (click)="onClickShare(item?.Id)" src="assets/images/share.png" alt="" /> -->
                            </span>
                        </div>
                    </td>
                    <td class="status-td"><div class="status">
                        <div class="success" *ngIf="item?.status=='Completed'">COMPLETED</div>
                        <div class="error" *ngIf="item?.status == 'Error'">FAILED</div>
                        <div class="progress-td" *ngIf="item?.status == 'In-Progress'">IN PROGRESS<span class="loaderDot">.</span><span class="loaderDot">.</span><span class="loaderDot">.</span></div>
                    </div></td>
                    <!-- <td *ngIf="!isDownloadingAllowed" class="text-center">Share</td> -->
                </tr>
            </tbody>
        </table>

        <div class="pagination d-flex align-items-center justify-content-center" *ngIf="downloadDataArr.length>0">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="18" [boundaryLinks]="true" (pageChange)="onPageChange($event)">
                <ng-template ngbPaginationPages let-page let-pages="pages">
                    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                        <div class="mb-3 d-flex flex-nowrap px-2">
                            <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
                            <input
                                #j
                                type="text"
                                inputmode="numeric"
                                pattern="[0-9]*"
                                class="form-control custom-pages-input"
                                id="paginationInput"
                                [value]="page"
                                (keyup.enter)="selectPage(j.value)"
                                (blur)="selectPage(j.value)"
                                (input)="formatInput($any($event).target)"
                                aria-labelledby="paginationInputLabel paginationDescription"
                                style="width: 2.5rem"
                            />
                            <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of {{pages.length}}</span>
                        </div>
                    </li>
                </ng-template>
            </ngb-pagination>
        </div>
    </div>

    <div class="workstation-loader" *ngIf="isLoading"><img src="assets/images/tableLoader.gif" alt="" /></div>
</div>
