<div class="container-box">
    <div class="notification-container" *ngIf="pageType=='notification'">
        <div class="tab-btn active-tab" #btn1 (click)="onClickTab('alert', btn1)">Alert</div>
        <div class="tab-btn" #btn2 (click)="onClickTab('push', btn2)">Notification</div>
        <div class="tab-btn" #btn3 (click)="onClickTab('get', btn3)">Status</div>

        <div class="alert-box" *ngIf="notificationPageType=='alert'">
            <div class="form-container">
                <div class="data-field">
                    <span>Start Date:</span>
                    <input type="date" [(ngModel)]="dates.start" onfocus="this.showPicker()" />
                </div>
                <div class="data-field">
                    <span>End Date:</span>
                    <input type="date" [(ngModel)]="dates.end" onfocus="this.showPicker()" />
                </div>

                <div class="data-field editor-inp">
                    <span>Message:</span>
                    <div class="editor" #alertEditor contenteditable="true" (input)="onTypeEditor($event, 'alert')">
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <div class="data-field checkbox-inp me-4">
                        <span class="w-100">Show popup:</span>
                        <input type="checkbox" [(ngModel)]="showPopup" />
                    </div>
                    <div class="data-field checkbox-inp">
                        <span class="w-100">Show banner:</span>
                        <input type="checkbox" [(ngModel)]="showBanner" />
                    </div>
                </div>

                <div class="submit text-center"><button class="btn btn-success"
                        (click)="onSubmitAlertMsg(alertEditor)">{{isSubmitClicked ? 'Submitting...':'Submit'}}</button>
                </div>
            </div>
        </div>

        <div class="notification-box" *ngIf="notificationPageType=='push'">
            <div class="form-container">
                <div class="category-field">
                    <span>Select Category:</span>
                    <select [(ngModel)]="notificationType">
                        <option value="normal">Normal</option>
                        <option value="announce">Annoucement</option>
                        <option value="warning">Alert/Warning</option>
                    </select>
                </div>
                <div class="category-field">
                    <span>Heading:</span>
                    <input class="heading" type="text" [(ngModel)]="heading" />
                </div>

                <div class="data-field editor-field">
                    <span>Message:</span>
                    <div class="editor" #notificationEditor (input)="onTypeEditor($event, 'push')"
                        contenteditable="true"></div>
                </div>
                <div class="submit text-center"><button [disabled]="message.push.length==0"
                        (click)="onSubmitNotification(notificationEditor)" class="btn btn-success">Submit</button></div>
            </div>
        </div>
        <div class="notification-box p-2" *ngIf="notificationPageType=='get'">
            <!-- <div class="table-responsive mt-4">
                <table class="table table-bordered align-middle text-center custom-table">
                    <thead class="table-light">
                        <tr>
                            <th>Sr No</th>
                            <th>Title</th>
                            <th>Toggle</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of tableData; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.title }}</td>
                            <td>
                                <label class="toggle-switch">
                                    <input type="checkbox" [(ngModel)]="item.isActive" />
                                    <span class="slider"></span>
                                </label>
                                <span class="toggle-label">{{ item.isActive ? 'ON' : 'OFF' }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

            <div class="container ">
                <div class="row g-4">
                     <div class="col-12 d-flex justify-content-end align-items-center">
                        <label class="form-check-label me-2 fw-semibold text-secondary">Show Message</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="toggleMessage" checked>
                        </div>
                    </div>
                    
                    <!-- Start Date -->
                    <div class="col-md-6">
                        <div class="info-box p-3 rounded-3 bg-white shadow-sm border">
                            <h6 class="text-secondary mb-1">Start Date</h6>
                            <p class="fw-semibold text-dark mb-0">12 Nov 2025</p>
                        </div>
                    </div>

                    <!-- End Date -->
                    <div class="col-md-6">
                        <div class="info-box p-3 rounded-3 bg-white shadow-sm border">
                            <h6 class="text-secondary mb-1">End Date</h6>
                            <p class="fw-semibold text-dark mb-0">20 Nov 2025</p>
                        </div>
                    </div>

                    <!-- Message -->
                    <div class="col-12">
                        <div class="info-box p-3 rounded-3 bg-white shadow-sm border">
                            <h6 class="text-secondary mb-1">Message</h6>
                            <p class="fw-semibold text-dark mb-0">
                                Your subscription will renew automatically at the end of the period.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div class="d-flex justify-content-around align-items-center p-3 rounded-3 ">
                            <h6 class="text-secondary mb-1">show Popup</h6>
                             <input type="checkbox" name="checkbox" >
                        </div>
                    </div>

                    <div class="col-md-6">
                         <div class="d-flex justify-content-around align-items-center p-3 rounded-3 ">
                            <h6 class="text-secondary mb-1">show Banner</h6>
                             <input type="checkbox" name="checkbox" >
                        </div>
                    </div>

                   
                </div>
            </div>



        </div>
    </div>

    <div class="reset-password-container" *ngIf="pageType=='resetPassword'">
        <h3>Reset Password</h3>
        <div class="data-field">
            <span>Select Email:</span>
            <div class="dropdown-box">
                <div class="input-txt">
                    <div class="w-100 h-100 items-list" *ngIf="selectedItemArr.length>0"><span
                            *ngFor="let item of selectedItemArr">{{item}} <a
                                (click)="selectedItemArr=[]">&#x2715;</a></span></div>
                    <input type="text" *ngIf="selectedItemArr.length==0" (click)="isEmailDropdownOn=true"
                        (keyup)="contactFilter()" [(ngModel)]="searchInp" />
                </div>
                <div class="option-list" *ngIf="isEmailDropdownOn">
                    <div class="option" (click)="onSelectEmail(item)" *ngFor="let item of copyAllUsers">
                        <span><img src="assets/images/account.png" alt="" /></span> {{item}}
                    </div>
                </div>
            </div>
        </div>
        <div class="submit text-center"><button (click)="onSubmitResetPass()" [disabled]="selectedItemArr.length==0"
                class="btn btn-success">{{isSubmitClicked ? 'Updating...' : 'Update'}}</button></div>
    </div>
</div>