<div class="list-container">
    <div class="h-100 first" *ngIf="pageHeadName=='country'">
        <h1>{{pageHeadName | titlecase}} List</h1>
        <div class="input-bar d-flex align-items-center justify-content-between">
            <select [(ngModel)]="countryType" (change)="getAllSideFilterAccess()">
                <option value="CUSTOM">Custom</option>
                <option value="MIRROR">Mirror</option>
                <option value="STATISTICAL">Statistical</option>
            </select>

            <button class="btn btn-danger" (click)="getFormModal()">+ Add Country</button>
        </div>
        <div class="other-table">
            <table>
                <thead>
                    <th class="left-sticky1 w-auto">Country</th>
                    <th class="left-sticky2 w-auto">Direction</th>
                    <th class="w-auto" *ngFor="let head of sideAccessKeys;let i=index;">{{head | titlecase}}</th>
                    <th class="right-sticky2" style="width: 10%;">is_Active</th>
                    <th class="right-sticky1" style="width: 10%;">Action</th>

                    <!-- <th 
                        *ngFor="let head of tableHeads?.country;let i=index;"
                        [class]="setClassName(i, tableHeads?.country)" 
                        [ngStyle]="{'width': (head=='active'||head=='action')?'10%':'auto'}">
                        {{head | titlecase}}
                    </th> -->
                </thead>
    
                <tbody *ngIf="!isLoading">
                    <tr *ngFor="let item of allSideFilterList;let i=index;">
                        <td class="left-sticky1">{{item?.country_name}}</td>
                        <td class="left-sticky2" style="text-transform:uppercase;">{{item?.Direction}}</td>
    
    
                        <td *ngFor="let keyName of sideAccessKeys;let j=index;">
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <input [checked]="item[keyName]" (click)="updateSideFilterAccess($event, keyName, item)" type="checkbox" id="switch-{{i}}-{{j}}"/>
                                <label class="toggle-switch" for="switch-{{i}}-{{j}}">Toggle</label>
                            </div>
                        </td>
    
    
                        <td class="right-sticky2">
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <input [checked]="item?.active" type="checkbox" id="switch-{{i}}"/>
                                <label class="toggle-switch" for="switch-{{i}}">Toggle</label>
                            </div>
                        </td>
                        <td class="right-sticky1">
                            <!-- <img title="Record Details" src="assets/images/info-data.png" (click)="showSideFilterDetail(head)" alt="" /> -->
                            <!-- <img title="Edit Record" src="assets/images/edit-data.png" (click)="getFormUpdateModal(head?.Countrycode)" alt="" /> -->
                            <i placement="start" ngbTooltip="Record Details" class="fa-sharp fa-solid fa-circle-info me-2" (click)="showSideFilterDetail(item)" style="color:#4cbfa6;"></i>
                            <i placement="start" ngbTooltip="Edit Record" class="fa-solid fa-pen-circle" (click)="getFormUpdateModal(item?.Country)" style="color:#0091ff;"></i>
                            <!-- <img title="Delete Record" src="assets/images/delete-data.png" alt="" /> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="workstation-loader" *ngIf="isLoading"><img src="assets/images/tableLoader.gif" alt="" /></div>
        </div>
    </div>

    <div class="h-100 second" *ngIf="pageHeadName=='date'">
        <h1>Update Country Latest Date</h1>

        <div class="update-form">
            <div class="input-box">
                <span>Type</span>
                <select [(ngModel)]="countryDateObj.countryType" (change)="onClickCountryType('type')">
                    <option value="">--Select Type--</option>
                    <option value="CUSTOM">Custom</option>
                    <option value="MIRROR">Mirror</option>
                    <option value="STATISTICAL">Statistical</option>
                </select>
            </div>

            <div class="input-box">
                <span>Country</span>
                <select [(ngModel)]="selectedCountryValue" (change)="onClickCountryType('country')" [disabled]="!hasSelected.type">
                    <option value="">--Select Country--</option>
                    <option value="{{item?.Countrycode}}~{{item?.CountryName}}" *ngFor="let item of dropdownCountries;">
                        {{item?.CountryName}}
                    </option>
                </select>
            </div>

            <div class="input-box">
                <span>Direction</span>
                <select [(ngModel)]="countryDateObj.direction" [disabled]="!hasSelected.country" (change)="getLastUpdatedDate()">
                    <option value="">--Select Direction--</option>
                    <option value="export">Export</option>
                    <option value="import">Import</option>
                </select>
            </div>

            <div class="input-box">
                <span>Set Date</span>
                <input [disabled]="!hasSelected.direction" [(ngModel)]="countryDateObj.latestDate" type="date" onfocus="this.showPicker()"/>
            </div>

            <div class="error-msg" [hidden]="errorMsg.length==0">{{errorMsg}}</div>
            <!-- <div class="error-msg">The quick brown fox jumps over the lazy dog</div> -->

            <div class="btn-box"><button class="btn btn-danger" (click)="updateLatestDate()">{{updateBtn}}</button></div>
        </div>
    </div>
</div>
